
@{
    ViewBag.Title = "Home";
}

<button onclick="location.href='@Url.Action("LogOff", "IdentityExample")'">Log out</button>
<br />
<br />

<h3>Hello @ViewBag.UserName</h3>
<h3>Your id: @ViewBag.UserId</h3>

@Html.ActionLink("User page", "UserPage", "IdentityExample")
<br />
<br />
@Html.ActionLink("Admin page", "AdminPage", "IdentityExample")

