@model Learn_mvc.Models.Employee3

@{
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "addMoreEmpFormDiv",
        OnBegin = "onBegin",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    };
}

<div id="addMoreEmpFormDiv">
    @using (Ajax.BeginForm("AddMoreEmployee", "InterpolationWithJsCshtml", ajaxOptions, new { id = "addMoreEmpForm" }))
    {
        <table>
            <tr>
                <td>Employee Name</td>
                <td>
                    @Html.TextBoxFor(x => x.EmpName)
                    @Html.ValidationMessageFor(x => x.EmpName)
                </td>
            </tr>
            <tr>
                <td>Employee Number</td>
                <td>
                    @Html.TextBoxFor(x => x.EmpNumber)
                    @Html.ValidationMessageFor(x => x.EmpNumber)
                </td>
            </tr>
            <tr>
                <td>Employee Email</td>
                <td>
                    @Html.TextBoxFor(x => x.EmpEmail)
                    @Html.ValidationMessageFor(x => x.EmpEmail)
                </td>
            </tr>
            <tr>
                <td>Employee Address</td>
                <td>
                    @Html.TextBoxFor(x => x.EmpCompany)
                    @Html.ValidationMessageFor(x => x.EmpCompany)
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" id="btnsubmit" value="Create" /></td>
            </tr>
        </table>

        @Html.HiddenFor(x => x.EmpId)
    }
</div>

<script>
    function onBegin() {
        alert("onBegin");
    }

    function onSuccess() {
        alert("onSuccess");
        LoadEmp();
    }

    function onFailure() {
        alert("onFailure");
    }

    //function SubmitForm() {
    //    $('form').submit();
    //}
</script>
