
@{
    ViewBag.Title = "Index";
}

<h3>CRUD Example :-</h3>
@Html.ActionLink("CRUD Example", "Get_student_list", "Student")

<h3>Dynamic Control Example :-</h3>
@Html.ActionLink("Dynamic Controls Example", "Index", "DynamicControls")

<h3>Ajax Helpers Example :-</h3>
@Html.ActionLink("Ajax Helpers Example", "Index", "AjaxHelpers")

<h3>Simple Form Base Authentication And Authorization Example</h3>
@Html.ActionLink("Simple Form Base Authentication And Authorization Example", "Index", "FormBaseAuth")

<h3>Send Email Example</h3>
@Html.ActionLink("Send Email Example", "Index", "Mail")

<h3>Login With External Site Example</h3>
@Html.ActionLink("Login With External Site Example", "Index", "ExternalLogin")

<h3>Security From XSS And CSRF Example</h3>
@Html.ActionLink("Security From XSS And CSRF Example", "Index", "Securety")

<h3>Caching Example</h3>
@Html.ActionLink("Caching Example", "Index", "Caching")

<h3>CRUD With Modal Example</h3>
@Html.ActionLink("CRUD With Modal Example", "Index", "CRUDModal")

<h3>HandleBars(interpolation) Example</h3>
@Html.ActionLink("HandleBars(interpolation) Example", "Index", "InterpolationWithJsCshtml")

<h3>Auto Complete Address Using Google API Example</h3>
@Html.ActionLink("Auto Complete Address Using Google API Example", "Index", "AutoCompleteAddress")

<h3>Auto Complete Address Fetch From DB(Controller) Example</h3>
@Html.ActionLink("Auto Complete Address Fetch From DB(Controller) Example", "AutoSearchModel", "AutoCompleteAddress")

<h3>CRUD With ADO.NET Example</h3>
@Html.ActionLink("CRUD With ADO.NET Example", "Index", "ADO")

<h3>Generic Repository and Unit of worker pattern example</h3>
@Html.ActionLink("Generic Repository and Unit of worker pattern example", "Index", "GenericRepoAndUOFPattern")

<h3>Play .SWF Flash File Example</h3>
@Html.ActionLink("Play .SWF Flash File Example", "Index", "Flash")

<h3>Modal Destroy Issue</h3>
@Html.ActionLink("Modal Destroy Issue", "Index", "ModalDestroy")

<h3>Show Machines Icons In Accordion</h3>
@Html.ActionLink("Show Machines Icons In Accordion", "MachineIcons", "ShopPlanner")

<h3>Show Machines Icons In Accordion Example 2</h3>
@Html.ActionLink("Show Machines Icons In Accordion Example 2", "MachineIcons2", "ShopPlanner")

<h3>Call Controller To GET,POST,UPDATE,DELETE Data Using Jquery Ajax</h3>
@Html.ActionLink("Call Controller To GET,POST,UPDATE,DELETE Data Using Jquery Ajax", "Index", "JqueryAjax")

<h3>Display Alert Popup When Go To Outside The Page Without Saving Form Using JS</h3>
@Html.ActionLink("Display Alert Popup When Go To Outside The Page Without Saving Form Using JS", "Index", "Javasript")

<h3>Call Controller To GET,POST,UPDATE,DELETE Data With HttpClient</h3>
@Html.ActionLink("Call Controller To GET,POST,UPDATE,DELETE Data With HttpClient", "Index", "CallCrudApiByHttpClient")

<h3>Print Image With Dynamic Data</h3>
@Html.ActionLink("Print Image With Dynamic Data", "Index", "Print")

<h3>Add Dynamic List Of Record In Html Using Javascript</h3>
@Html.ActionLink("Add Dynamic List Of Record In Html Using Javascript", "GetData", "Javasript")

<h3>How To Send List Of Object From View To Controller Using Javascript</h3>
@Html.ActionLink("How To Send List Of Object From View To Controller Using Javascript", "GetListObject", "Javasript")