
@{
    ViewBag.Title = "Index";
}

<div>
    <h3>CRUD Example :-</h3>
    @Html.ActionLink("CRUD Without Database Interaction Example", "Get_student_list", "Student")
</div>

<div>
    <h3>Dynamic Control Example :-</h3>
    @Html.ActionLink("Dynamic Controls Example", "Index", "DynamicControls")
</div>

<div>
    <h3>Ajax Helpers Example :-</h3>
    @Html.ActionLink("Ajax Helpers Example", "Index", "AjaxHelpers")
</div>

<div>
    <h3>Simple Form Base Authentication And Authorization Example</h3>
    @Html.ActionLink("Simple Form Base Authentication And Authorization Example", "Index", "FormBaseAuth")
</div>

<div>
    <h3>Send Email Example</h3>
    @Html.ActionLink("Send Email Example", "Index", "Mail")
</div>

<div>
    <h3>Login With External Site Example</h3>
    @Html.ActionLink("Login With External Site Example", "Index", "ExternalLogin")
</div>

<div>
    <h3>Security From XSS And CSRF Example</h3>
    @Html.ActionLink("Security From XSS And CSRF Example", "Index", "Securety")
</div>

<div>
    <h3>Caching Example</h3>
    @Html.ActionLink("Caching Example", "Index", "Caching")
</div>

<div>
    <h3>CRUD With Modal Example</h3>
    @Html.ActionLink("CRUD With Modal Example", "Index", "CRUDModal")
</div>

<div>
    <h3>HandleBars(interpolation) Example</h3>
    @Html.ActionLink("HandleBars(interpolation) Example", "Index", "InterpolationWithJsCshtml")
</div>

<div>
    <h3>Auto Complete Address Using Google API Example</h3>
    @Html.ActionLink("Auto Complete Address Using Google API Example", "Index", "AutoCompleteAddress")
</div>

<div>
    <h3>Auto Complete Address Fetch From DB(Controller) Example</h3>
    @Html.ActionLink("Auto Complete Address Fetch From DB(Controller) Example", "AutoSearchModel", "AutoCompleteAddress")
</div>

<div>
    <h3>CRUD With ADO.NET Example</h3>
    @Html.ActionLink("CRUD With ADO.NET Example", "Index", "ADO")
</div>

<div>
    <h3>Generic Repository and Unit of worker pattern example</h3>
    @Html.ActionLink("Generic Repository and Unit of worker pattern example", "Index", "GenericRepoAndUOFPattern")
</div>

<div>
    <h3>Generic Repository and Unit of worker pattern example 2</h3>
    @Html.ActionLink("Generic Repository and Unit of worker pattern example", "Index2", "GenericRepoAndUOFPattern")
</div>

<div>
    <h3>Play .SWF Flash File Example</h3>
    @Html.ActionLink("Play .SWF Flash File Example", "Index", "Flash")
</div>

<div>
    <h3>Modal Destroy Issue</h3>
    @Html.ActionLink("Modal Destroy Issue", "Index", "ModalDestroy")
</div>

<div>
    <h3>Show Machines Icons In Accordion</h3>
    @Html.ActionLink("Show Machines Icons In Accordion", "MachineIcons", "ShopPlanner")
</div>

<div>
    <h3>Show Machines Icons In Accordion Example 2</h3>
    @Html.ActionLink("Show Machines Icons In Accordion Example 2", "MachineIcons2", "ShopPlanner")
</div>

<div>
    <h3>Call Controller To GET,POST,UPDATE,DELETE Data Using Jquery Ajax</h3>
    @Html.ActionLink("Call Controller To GET,POST,UPDATE,DELETE Data Using Jquery Ajax", "Index", "JqueryAjax")
</div>

<div>
    <h3>Display Alert Popup When Go To Outside The Page Without Saving Form Using JS</h3>
    @Html.ActionLink("Display Alert Popup When Go To Outside The Page Without Saving Form Using JS", "Index", "Javasript")
</div>

<div>
    <h3>Call Controller To GET,POST,UPDATE,DELETE Data With HttpClient</h3>
    @Html.ActionLink("Call Controller To GET,POST,UPDATE,DELETE Data With HttpClient", "Index", "CallCrudApiByHttpClient")
</div>

<div>
    <h3>Print Image With Dynamic Data</h3>
    @Html.ActionLink("Print Image With Dynamic Data", "Index", "Print")
</div>

<div>
    <h3>Add Dynamic List Of Record In Html Using Javascript</h3>
    @Html.ActionLink("Add Dynamic List Of Record In Html Using Javascript", "GetData", "Javasript")
</div>

<div>
    <h3>How To Send List Of Object From View To Controller Using Javascript</h3>
    @Html.ActionLink("How To Send List Of Object From View To Controller Using Javascript", "GetListObject", "Javasript")
</div>

<div>
    <h3>Identity</h3>
    @Html.ActionLink("Identity", "Index", "IdentityExample")
</div>